$fontsFolderPath: '~@squidit/css/dist/fonts';
@import '~@squidit/css/src/scss/squid.scss';

.img-fluid {
  margin: 10px;
  width: 35%;
}

header {
  display: flex;
  justify-content: center;
  width: 100%;
}

.box {
  max-width: 100%;
}

.fit-image {
  height: 150px;
  object-fit: cover;
  width: 150px;
}

.ajusting {
  margin: 0 5% 0 5%;
}